<div class="jumbotron">
    <h1>Welcome github users!</h1>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">users list {{vm.msg}}

            <div class="pull-right">
                <label for="search">Search</label>
                <input type="text" ng-model="searchText" name="search" class="form-control" placeholder="Search"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Table -->
        <table class="table table-hover">
            <tr>
                <th>First name</th>
                <th>Site Admin</th>
                <th>gravatar</th>
            </tr>
            <tr ng-repeat="user in vm.githubUsers | filter:searchText" class="make-pointer" ng-click="vm.callProfile(user.id)">
                <td>{{user.login}}</td>
                <td>{{user.site_admin}}</td>
                <td><img src="{{user.avatar_url}}" height="50" width="50"/></td>
            </tr>
        </table>
    </div>
</div>